
.student-list {
    background-color: #808080;
    padding: 15px;
    border-radius: 8px; /* Rounded corners */
    margin-bottom: 20px;
  }
  
  .student-item {
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 8px; /* Rounded corners */
  }
  
  .enrolled-courses {
    
    list-style-type: square;
    margin-top: 5px;
    margin-left: 20px;
    border-radius: 8px; /* Rounded corners */
  }
  